//====================================================================================================
.footer {
	background: #111111;
	// .footer__container

	&__container {
	}

	// .footer__row

	&__row {
		display: flex;
		flex-wrap: wrap;
		padding: 40px 10px;
		margin: 0 -10px;
	}

	// .footer__column

	&__column {
		flex: 0 1 25%;
		padding: 0 10px;
		margin: 0 0 15px 0;
		@media (max-width: $md2+px) {
			flex: 0 1 50%;
		}
		@media (max-width: $md3+px) {
			flex: 0 1 100%;
		}
	}

	// .footer__title

	&__title {
		color: #eee;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: -.1px;
		font-weight: 500;
		margin-bottom: 20px;
		font-family: 'Montserrat';
	}

	// .footer__text

	&__text {
		font-size: 13px;
		line-height: 22 / 13 * 100%;
		margin: 0 0 10px 0;
		color: #999;
	}

	// .footer__link

	&__link {
		color: #ddd;
		&:hover {
			text-decoration: underline;
		}
	}
}
.footer-social {
	display: inline-flex;
	padding: 10px 18.5px;
    background: #fab702;
    margin-top: -16px;
    position: relative;
	align-items: center;
	&::after {
		content: "";
		border-right: 9px solid #777;
		border-top: 15px solid transparent;
		content: "";
		display: block;
		height: 0;
		left: -9px;
		position: absolute;
		top: 0px;
	}
	// .footer-social__social
	span {
		display: inline-block;
		font-size: 13px;
		margin: 0 10px 0 0;
		color: #222;
	}
	
	&__social {
		display: inline-flex;
	}
}
.footer-company {

	// .footer-company__title

	&__title {

	}	

	// .footer-company__list

	&__list {
		display: inline-flex;
		flex-wrap: wrap;
		li {
			padding: 12px 0;
			flex: 0 1 50%;
		}
	}

	// .footer-company__link

	&__link {
		display: inline-block;
		font-size: 13px;
		color: #ddd;
		&:hover {
			text-decoration: underline;
		}
	}
}
.footer-office {

	// .footer-office__title

	&__title {
	}

	// .footer-office__info

	&__info {
	}

	// .footer-office__item

	&__item {
		display: flex;
		align-items: flex-start;
		margin: 0 0 5px 0;
	}

	// .footer-office__icon

	&__icon {
		margin: 6px 0 0 0;
		flex: 0 1 15%;
		color: #999;
		&::before {
			font-size: 14px;
		}
		@media (max-width: $md2+px) {
			margin: 10px 0 0 0;
			flex: 0 1 6%;
		}
		@media (max-width: $md4+px) {
			flex: 0 1 10%;
		}
	}

	// .footer-office__value

	&__value {
		flex: 0 1 auto;
		color: #999;
		font-size: 12px;
		line-height: 26 / 12 * 100%;
		@media (max-width: $md2+px) {
			font-size: 14px;
		}
	}
}
.footer-business {

	// .footer-business__title

	&__title {
	}

	// .footer-business__text

	&__text {
	}

	// .footer-business__list

	&__list {
    	line-height: 1.8;
	}

	// .footer-business__item

	&__item {
		padding: 6px 0;
		color: #999;
		font-size: 12px;
		border-bottom: 0.5px dotted #999;
		span {
			font-weight: 700;
			float: right;
		}
	}
}
.footer-copy {
	background: #222;
    border-top: 1px solid #333;
    padding: 20px 0;
    font-size: 12px;
	// .footer-copy__container

	&__container {
		display: flex;
		justify-content: space-between;
		@media (max-width: $md2+px) {
			padding: 0 10px;
		}
		@media (max-width: $md3+px) {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		@media (max-width: $md4+px) {
			
		}
	}

	// .footer-copy__text

	&__text {
		color: #999;
		@media (max-width: $md3+px) {
			font-size: 13px;
			margin: 0 0 20px 0;
		}
		@media (max-width: $md4+px) {
			font-size: 12px;
		}
	}

	// .footer-copy__link

	&__link {
		font-size: 13px;

		@media (max-width: $md4+px) {
			font-size: 12px
		}
	}

	// .footer-copy__menu

	&__menu {
		display: flex;
		@media (max-width: $md4+px) {
			flex-wrap: wrap;
			justify-content: center;
		}
		li {
			margin: 0 15px 0 0;
			&:last-child {
				margin: 0;
			}
			@media (max-width: $md4+px) {
				line-height: 20px;
			}
		}
	}
}

//====================================================================================================
